<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristina.a5listview1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.A2_MovieList"
            />
        <activity android:name=".activities.CustomAdapter" />
        <activity android:name=".dataModel.Movie" />
        <activity android:name=".dataModel.MovieManager" />
        <activity android:name=".dataModel.Actor" />
        <activity android:name=".dataModel.Genre" />
        <activity android:name=".activities.A1_Splash"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.A3_Contact"
            android:label="Contact" />
        <activity
            android:name=".activities.A4_EditMovie"
            android:label="Edit Movie" />
        <activity
            android:name=".activities.A5_ViewMovie"
            android:label="View Movie" />
        <activity
            android:name=".activities.A6_AddMovie"
            android:label="Add Movie" />
        <activity android:name=".utils.AsynkGet" />
        <activity android:name=".Constants" />
        <activity
            android:name=".activities.A7_Actors"
            android:label="Actor" />
        <activity
            android:name=".activities.A8_Genres"
            android:label="Genre" />
        <activity android:name=".activities.AutocompleteActorAdapter" />
        <activity android:name=".activities.AutocompleteGenreAdapter" />
        <activity android:name=".activities.CustomDialog"></activity>
    </application>

</manifest>